.event-log-wrapper {
  margin-left:1rem;
  z-index: 10;
  position: absolute;
  bottom: 0;
  background-color: #CCCCFF;
  border-top-left-radius: .5rem;
  border-style: solid;
  border-color: #BBBBEE;
  border-width: 1px 0 0 1px;
}

.event-log-header {

  padding-left: .5rem;
}

.expand-collapse {
  font-size: smaller;
  color: #666666;
}

.event-log-items {
  transition: all .3s ease-in-out;
  background-color: #EEEEFF;
  overflow-y: scroll;
  height: 0;

  li {
    padding-left: .5rem;
    font-size: smaller;
    display: flex;

    .timestamp {
      color: grey;
    }

    border-bottom: 2px solid #0000FF30;
  }
}

.open {
  height: 50vh;
}