#game-room-wrapper {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;


  /* Debug outline for all elements */
  * {
    outline: 1px solid red;
  }

  header {
    background-color: rgb(150, 206, 255);
  }

  main {
    display: flex;
    flex-direction: row;
  
    height: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

#game-board-section {

  #board {
    padding: 1rem;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(20px, auto);
  }

  .tile {
    font-size: xx-large;
    text-align: center;
    background-color: rgb(173, 217, 255);
    border-radius: 1rem;
    margin: .23em;
  }
}

#info-section {
  flex-basis: 30%;


}

