.tile {
  font-size: xx-large;
  text-align: center;
  background-color: rgb(173, 217, 255);
  border-radius: 1rem;
  margin: .23em;
}

.favorite {
  outline: .5rem solid gold;
}

.safe {
  outline: .5rem solid green;
}

.bomb {
  background-color: red;
}

.disabled {
  background-color: blueviolet;
  opacity: 20%;
  display: none
}